# Ignore JetBrains (IntelliJ/WebStorm) IDE settings
.idea/

# Ignore Node.js dependencies
backend/node_modules/
backend/.gitignore
frontend/node_modules/
frontend/.gitignore


# Ignore environment variables
backend/.env
frontend/.env

# Ignore logs
backend/logs/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
frontend/logs/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Ignore build artifacts
backend/dist/
backend/build/
frontend/dist/
frontend/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

